[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/ShelbyHell
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/ShelbyHell
	label-Verified = -1..+1 group user/ShelbyHell
	push = group user/ShelbyHell
	read = group user/ShelbyHell
	rebase = group user/ShelbyHell
	removeReviewer = group user/ShelbyHell
	submit = group user/ShelbyHell
[access "refs/heads/*"]
	create = group user/ShelbyHell
	push = +force group user/ShelbyHell
	pushMerge = group user/ShelbyHell
	read = group user/ShelbyHell
[access "refs/tags/*"]
	push = group user/ShelbyHell
	push = +force group user/ShelbyHell
